body {
    margin: 0px;
    background-color: #37982c;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
#main {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#graph_container {
    float: left;
    width: 65%;
    height: 750px;
}
#recipienttable {
    width: 100%;
}
#recipient_list {
    /* display: none; */
    margin-top: 10pt;
    font-size: 24pt;
    background-color: forestgreen;
    width: 30%;
    height: 600px;
    float: right;
    overflow-y: scroll;
    padding: 10px;
}
.recipient {
    font-size: 24pt;
    width: 100%;
}
.username {
    padding-right: 10pt;
}
.currbalance {
    text-align: right;
}

#recipient_graph {
    float: left;
    width: 1400px;
    height: 1400px;
    margin: 50px;
}

#messages_container {
    clear: both;
    padding: 10px;
    margin-top: 50px;
    margin-left: 2.5%;
    background-color: forestgreen;
    width: 100%;
    height: 300px;
    clear: right;
    float: right;
}

#messages {
    padding: 0px;
    font-size: 24pt;
    background-color: forestgreen;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
.message {
    background-color: rgba(255,255,255,0.1);
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
    font-size: 16pt;
}
.messageproperty {
    padding-right: 16pt;
    opacity: 0.6;
    vertical-align: top;
}
.messagevalue {
    vertical-align: bottom;
}
#sendinput {
    margin-top: 48pt;
}
#sendinput input {
    background-color: #37982c;
    font-size: 24pt;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300 !important;
    text-align: center;
    margin-top: 10pt;
    padding: 6pt 2% 8pt 2%;
    border: 1px solid white;
    border-radius: 6pt;
    width: 16%;
}
#sendinput input:focus {
    border: 1px solid white;
    outline: none;
    background-color: #69b261;
}
.label {
    font-size: 18pt;
    font-weight: 100;
    margin-top: 6pt;
    margin-botton: 4pt;
}
button {
    font-size: 24pt;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300 !important;
    padding: 8pt 16pt 12pt 16pt;
    color: white;
    text-align: center;
    background: #46c238;
    border: 0;
    border-bottom: 2px solid #219d55;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #219d55;
    box-shadow: inset 0 -2px #219d55;
}
.bigbutton {
    font-size: 48pt !important;
}

