body {
    margin: 0px;
    background-color: #37982c;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
#main {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#recipienttable {
    width: 100%;
}
#recipient_list {
    /* display: none; */
    margin-top: 10pt;
    font-size: 24pt;
    background-color: forestgreen;
    width: 30%;
    height: 400px;
    float: right;
}
.recipient {
    font-size: 24pt;
    width: 100%;
}
.username {
    padding-right: 10pt;
}
.currbalance {
    text-align: right;
}

#recipient_graph {
    float: left;
    width: 1000px;
    height: 1000px;
    margin: 50px;
}

#messages {
    margin-top: 20px;
    margin-left: 2.5%;
    font-size: 24pt;
    background-color: forestgreen;
    width: 30%;
    height: 515px;
    clear: right;
    float: right;
    overflow-y: scroll;
}
.message {
    background-color: rgba(255,255,255,0.3);
    width: 92%;
    margin: 2%;
    font-size: 16pt;
    padding: 2%;
}
.messageproperty {
    padding-right: 16pt;
    opacity: 0.6;
    vertical-align: top;
}
.messagevalue {
    vertical-align: bottom;
}
#sendinput {
    margin-top: 48pt;
}
#sendinput input {
    background-color: #37982c;
    font-size: 24pt;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300 !important;
    text-align: center;
    margin-top: 10pt;
    padding: 6pt 2% 8pt 2%;
    border: 1px solid white;
    border-radius: 6pt;
    width: 16%;
}
#sendinput input:focus {
    border: 1px solid white;
    outline: none;
    background-color: #69b261;
}
.label {
    font-size: 24pt;
    font-weight: 100;
    margin-top: 6pt;
    margin-botton: 4pt;
}
button {
    font-size: 24pt;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300 !important;
    padding: 8pt 16pt 12pt 16pt;
    color: white;
    text-align: center;
    background: #46c238;
    border: 0;
    border-bottom: 2px solid #219d55;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #219d55;
    box-shadow: inset 0 -2px #219d55;
}
.bigbutton {
    font-size: 48pt !important;
}

